body {
  background-color: rgb(39, 39, 39);
}

.container {
  width: 60vw;
  // max-width: 1200px;
  margin: 0 auto;
  // padding: 0 20px;
}

.head {
  padding: 1rem 0;
  background-color: rgb(81, 17, 255);
  border-radius: 20px;
  margin: 2rem 0;
  color: white;
}

.main {
  margin: 2rem 0;
  padding: 2rem;
  background-color: rgba(81, 17, 255, 0.466);
  border-radius: 20px;
}

.main .input-group {
  margin: 1rem 0;
}

.no-tasks {
  display: flex;
  flex-wrap: wrap;
  //   text-align: center;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // background: rgb(158, 158, 158);
  // height: 200px;
  // border-radius: 20px;
  margin: 1rem 0;
  color: white;
  // padding: 1rem 0;
}

.card {
  margin: 1rem;
  width: 30%;
  color: black;
}

@media screen and (max-width: 600px) {
  .container {
    width: 98vw;
  }
  .card {
    width: 100%;
  }
}
